/* -------------------------------------
-----------common style or utilities-------------*/

* {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.top-area {
    background-color: #2D25A0;
}

.container {
    padding: 49px 150px;
}


/* -------------------------------------
-----------Button style start------------*/

.watch-button,
.login-button,
.watch-button a,
.login-button a {
    width: 168px;
    height: 44px;
    border: none;
    border-radius: 5px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    background-color: #E02C6D;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

button,
button::after {
    width: 150px;
    height: 44px;
    font-size: 16px;
    font-family: 'Bebas Neue', cursive;
    background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 88px;
    box-shadow: 6px 0px 0px #00E6F6;
    outline: transparent;
    position: relative;
}

button::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    content: 'AVAILABLE NOW';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
}

button:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }
    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }
    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }
    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }
    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }
    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }
    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }
    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }
    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }
    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }
    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}


/* -------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------Button style end-----------------------------------------------*/


/* -------------------------------------
-----------Header area style start------------*/

.header-area {
    display: flex;
    justify-content: space-between;
}

.half-with ul {
    display: flex;
    gap: 36px;
    padding-left: 49px;
}

.half-with li {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    list-style: none;
}


/* -------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------Header area style  end-----------------------------------------------*/


/* -------------------------------------
-----------Banner style start------------*/

.banner-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 49px;
}

.banner-title {
    width: 485px;
    font-weight: 700;
    font-size: 64px;
    color: #FFFFFF;
    margin-bottom: 27px;
}

.banner-area img {
    height: 456px;
    width: 556px;
}


/* -------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------Banner style end-----------------------------------------------*/


/* -------------------------------------
-----------players style start------------*/

.players-area {
    padding: 20px 49px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 30px;
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 474px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.player-details {
    width: 300px;
    height: 426px;
}

.player-details img {
    width: 100%;
    border-radius: 5px;
}

.player-info {
    padding: 16px 0;
}

.player-name {
    font-weight: 700;
    font-size: 28px;
    color: #18191F;
    line-height: 40px;
}

.player-description {
    color: #6C6C6C;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 10px;
}


/* -------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------players style end-----------------------------------------------*/


/* -------------------------------------
-----------Match Highlights area styles start------------*/

.match-highlights-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}

.left-width {
    width: 469px;
    height: 309px;
}

.right-width {
    Width: 567px;
    Height: 427px;
}

.heading-title {
    font-weight: 700;
    font-size: 48px;
    color: #0A0826;
    line-height: 60px;
}

.match-description {
    font-weight: 400;
    font-size: 16px;
    color: #6C6C6C;
    line-height: 28px;
    margin-bottom: 24px;
}

.match-highlights-image img {
    Width: 100%;
    Height: 100%;
}


/* -------------------------------------------------------------------------------------------------------------------------
---------------------------------------------Match Highlights area styles end-----------------------------------------------*/


/* -------------------------------------
-----------Footer area styles start------------*/

.logo-area {
    margin: 150px 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.company-logo {
    width: 483.87px;
    height: 110px;
}

.company-logo img {
    width: 100%;
}

.social-media-icons-area {
    width: 483.87px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-media-icons {
    display: flex;
}

.social-media-icons a {
    text-decoration: none;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    font-size: 17px;
    margin: 20px 5px;
    color: #969BAB;
    background: #E7E7E8;
    border-radius: 100%;
}

.Copyright {
    font-weight: 400;
    font-size: 18px;
}


/* -------------------------------------------------------------------------------------------------------------------------
---------------------------------------------Footer area styles end-----------------------------------------------*/


/* -------------------------------------
-----------media Query start------------*/


/* Extra small devices (phones, 688px and down) */

@media only screen and (max-width: 688px) {
    body {
        width: 688px;
    }
    header {
        display: none;
    }
    .banner-area {
        display: flex;
        flex-direction: column;
        row-gap: 50px;
    }
    .players-area {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .match-highlights-area {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}


/* Large devices (laptops/desktops, 689px and up) */

@media only screen and (min-width: 689px) and (max-width: 992px) {
    header {
        display: none;
    }
    .banner-area {
        display: flex;
        flex-direction: column;
        row-gap: 50px;
    }
    .players-area {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .match-highlights-area {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media screen and (min-width: 993px) and (max-width: 1400px) {
    .banner-area {
        display: flex;
        flex-direction: row;
        row-gap: 50px;
    }
    .players-area {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .match-highlights-area {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}


/* Large devices (laptops/desktops, 1400px and up) */

@media only screen and (min-width: 1400px) and (max-width: 3000px) {
    .banner-area {
        display: flex;
        flex-direction: row;
        row-gap: 50px;
    }
    .players-area {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .match-highlights-area {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}


/* -------------------------------------------------------------------------------------------------------------------------
---------------------------------------------media Query end-----------------------------------------------*/